[submodule "DPCC"]
	path = DPCC
	url = https://github.com/yunhe20/D-PCC
[submodule "draco"]
	path = draco
	url = https://github.com/google/draco
[submodule "SparsePCGC"]
	path = SparsePCGC
	url = https://github.com/NJUVISION/SparsePCGC
[submodule "mpeg-pcc-tmc13"]
	path = mpeg-pcc-tmc13
	url = https://github.com/MPEGGroup/mpeg-pcc-tmc13
[submodule "depoco"]
	path = depoco
	url = https://github.com/PRBonn/deep-point-map-compression
